#Loader {
    height: 100vh;
    position: fixed;
    user-select: none;
    width: 100vw;
    background: #ffffff;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    .spinner {
        height: 70px;
        width: 70px;
    }
}