.heading-logo-font {
  font-family: "Archivo Black", sans-serif;
}

.non-loggedin-hero-banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}